NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
# NEXT_PUBLIC_API_URL=https://fameafrica-api.onrender.com/api/v1
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_PAYSTACK_KEY=pk_test_your_paystack_public_key
NEXT_PUBLIC_APP_URL=http://localhost:3000
